In [11]:
import dash
from dash import dcc
from dash import html
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output
import pandas as pd
import plotly.express as px


data = pd.read_csv('data/data_clean.csv', delimiter=',', decimal='.')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 70 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   drop_vce_Mean     100000 non-null  float64
 1   drop_dat_Mean     100000 non-null  float64
 2   blck_vce_Mean     100000 non-null  float64
 3   blck_dat_Mean     100000 non-null  float64
 4   unan_vce_Mean     100000 non-null  float64
 5   unan_dat_Mean     100000 non-null  float64
 6   plcd_vce_Mean     100000 non-null  float64
 7   plcd_dat_Mean     100000 non-null  float64
 8   recv_vce_Mean     100000 non-null  float64
 9   recv_sms_Mean     100000 non-null  float64
 10  comp_vce_Mean     100000 non-null  float64
 11  comp_dat_Mean     100000 non-null  float64
 12  custcare_Mean     100000 non-null  float64
 13  ccrndmou_Mean     100000 non-null  float64
 14  cc_mou_Mean       100000 non-null  float64
 15  inonemin_Mean     100000 non-null  float64
 16  threeway_Mean     100000 non-null  float64
 17  mou_cvce_Mean     100000 non-null  float64
 18  mou_cdat_Mean     100000 non-null  float64
 19  mou_rvce_Mean     100000 non-null  float64
 20  owylis_vce_Mean   100000 non-null  float64
 21  mouowylisv_Mean   100000 non-null  float64
 22  iwylis_vce_Mean   100000 non-null  float64
 23  mouiwylisv_Mean   100000 non-null  float64
 24  peak_vce_Mean     100000 non-null  float64
 25  peak_dat_Mean     100000 non-null  float64
 26  mou_peav_Mean     100000 non-null  float64
 27  mou_pead_Mean     100000 non-null  float64
 28  opk_vce_Mean      100000 non-null  float64
 29  opk_dat_Mean      100000 non-null  float64
 30  mou_opkv_Mean     100000 non-null  float64
 31  mou_opkd_Mean     100000 non-null  float64
 32  drop_blk_Mean     100000 non-null  float64
 33  attempt_Mean      100000 non-null  float64
 34  complete_Mean     100000 non-null  float64
 35  callfwdv_Mean     100000 non-null  float64
 36  callwait_Mean     100000 non-null  float64
 37  churn             100000 non-null  int64
 38  months            100000 non-null  int64
 39  uniqsubs          100000 non-null  int64
 40  actvsubs          100000 non-null  int64
 41  new_cell          100000 non-null  object
 42  crclscod          100000 non-null  object
 43  asl_flag          100000 non-null  object
 44  totcalls          100000 non-null  int64
 45  totmou            100000 non-null  float64
 46  totrev            100000 non-null  float64
 47  adjrev            100000 non-null  float64
 48  adjmou            100000 non-null  float64
 49  adjqty            100000 non-null  int64
 50  avgrev            100000 non-null  float64
 51  avgmou            100000 non-null  float64
 52  avgqty            100000 non-null  float64
 53  avg3mou           100000 non-null  int64
 54  avg3qty           100000 non-null  int64
 55  avg3rev           100000 non-null  int64
 56  prizm_social_one  100000 non-null  object
 57  area              100000 non-null  object
 58  dualband          100000 non-null  object
 59  refurb_new        100000 non-null  object
 60  hnd_price         100000 non-null  float64
 61  hnd_webcap        100000 non-null  object
 62  dwlltype          100000 non-null  object
 63  marital           100000 non-null  object
 64  infobase          100000 non-null  object
 65  ethnic            100000 non-null  object
 66  kid0_2            100000 non-null  object
 67  creditcd          100000 non-null  object
 68  eqpdays           100000 non-null  float64
 69  Customer_ID       100000 non-null  int64
dtypes: float64(46), int64(10), object(14)
memory usage: 53.4+ MB
None

In [10]:
data['actvsubs'].max()

np.int64(53)

In [12]:
descriptions = pd.read_csv('data/data_descriptions.csv', delimiter=';')

In [13]:
descriptions_dict = pd.Series(descriptions['Variable'], index=descriptions['Significado']).to_dict()

AttributeError: 'DataFrame' object has no attribute 'column_name'

In [14]:
descriptions

               Variable                                Significado
0              Rev_Mean       Mean monthly revenue (charge amount)
1              mou_Mean      Mean number of monthly minutes of use
2           totmrc_Mean        Mean total monthly recurring charge
3               da_Mean    Mean number of directory assisted calls
4           ovrmou_Mean                Mean overage minutes of use
..                  ...                                        ...
95  text_formatkid11_15    Child 11 - 15 years of age in household
96  text_formatkid16_17    Child 16 - 17 years of age in household
97        checkcreditcd                      Credit card indicator
98              eqpdays  Number of days (age) of current equipment
99   vpn_keyCustomer_ID                                Customer ID

[100 rows x 2 columns]